<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CrazyKit Status Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic" rel="stylesheet">

    <style>
      body {
        padding-top: 80px;
        font-family: 'Open Sans';
      }
    </style>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" style="width: 95%;">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CrazyKit Status Dashboard</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style="width: 95%;">

      <table class="table table-striped table-condensed">
        <caption>
          Всего участников: <b>{{ participants | length }}</b>,
          последняя регистрация: <b>{{ participants[0].added.humanize(locale='ru') if participants else '' }}</b>
        </caption>
        <thead>
          <tr>
            <th>Имя</th>
            <th>E-mail</th>
            <th>Телефон</th>
            <th>Сайт</th>
            <th>Род занятий</th>
            <th>Сотрудников</th>
            <th>Призы</th>
            <th>Добавлен</th>
          </tr>
        </thead>
        <tbody>
          {% for p in participants %}
          <tr>
            <td>{{ p.name }}</th>
            <td>{{ p.email }}</td>
            <td>{{ p.phone }}</td>
            <td>{{ p.website }}</td>
            <td>{{ p.occupation }}</td>
            <td>{{ p.employees }}</td>
            <td>{{ p.selected_prizes.replace(';', ', ') }}</td>
            <td>{{ p.added.format('D MMM HH:mm') }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
